<div class="col-lg-12 services-bg" style="min-height: 400px;">
    <div class="container" style="padding: 20px;">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="form-bg" style="padding: 15px" id="form-horizontal" method="POST" action="/admin/articles/create">
                
                <div class="form-group">
                    <h4>Create new article</h4>
                </div>
                
                <div class="form-group">
                    <input 
                        type="text" 
                        required="true" 
                        class="form-control" 
                        id="headlineInput" 
                        name="headline" 
                        placeholder="{{#if article.headline}}{{article.headline}}{{else}}Headline.{{/if}}">
                </div>

                <div class="form-group">
                    <textarea 
                            class="form-control" 
                            id="contentInput" 
                            name="content" 
                            maxlength="2000"
                            required="true"
                            rows="5" 
                            placeholder="{{#if article.content}}{{article.content}}{{else}}Content.{{/if}}"></textarea>
                </div>
                <a href="/admin/articles" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-primary blue-btn">Submit</button>
            </form>
        </div>
    </div>
</div>