<div class="col-lg-12" style="padding: 0">
    <div class="col-lg-12 banner-bg" style="min-height: 420px; box-shadow: 0px -1px 1px #000000 inset, 0px 1px 1px #000000 inset;">
        <div class="container" style="padding: 20px;"> 
            <div class=" col-lg-offset-1 col-lg-5">
                <div class="carousel-item active">
                    <div class="row banner1" style="padding: 15px">
                        <div class="container">
                            <h1 style="padding-top: 30px">
                                <span class="text-white" style="text-shadow: 1px 1px #000000; font-size: 40px;">
                                    <strong>
                                        OFFICE RELOCATIONS LONDON
                                    </strong>
                                </span>
                                <br>
                            </h1>
                            <p class="lead hidden-sm-down" style="color: #FFFFFF; text-shadow: 1px 1px #000000; padding-top: 10PX">
                                    DVM dedicates to helping you move office from and to Greater London, Berlin, Paris, Rome or any other european city. We are happy to take on a journey to any other destinations upon request. 
                            </p>
                            <a  href="/quick-quote" style="margin-bottom: 20px;" class="btn btn-lg btn-success"> 
                                Get a quick quote 
                               <a href="tel:00447713182721">CALL NOW</a>
                            </a>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-lg-6" style="padding: 20px; margin-top: 20px;">
                <div class="col-md-8 col-lg-offset-1 contact-form-bg" style="padding: 15px; box-shadow: 0.5px -0.5px 0.5px #999999, -0.5px 0.5px 0.5px #999999;">
                    <h3>Contact Us Now</h3>
                    <form id="form-horizontal" method="POST" action="/contactus">
                        <div class="form-group">
                            <input 
                                type="email" class="form-control" 
                                minlength="3" maxlength="254" 
                                id="emailInput" name="email" 
                                aria-describedby="emailHelp" placeholder="Email"
                            >
                            <small id="emailHelp" class="form-text text-muted hidden-xs-up">
                                We'll never share your email with anyone else.
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                                minlength="2" maxlength="254" 
                                id="inputSubject" name="subject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control"
                                minlength="3" maxlength="320" 
                                id="inputMessage" name="message" 
                                rows="3" placeholder="Your message here."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary blue-btn">Submit</button>
                    </form>
                </div>    
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="company" style="min-height: 268px;  box-shadow: 1px -1px 1px #000000 inset">
        <div class="container" style="padding: 20px;">
            <div class="col-md-12 text-center"> 
                <h2><span class="text-muted text-uppercase" style="font-size: 40px;">Company Info</span></h2>
                <p class="col-lg-8 col-lg-offset-2" style="margin-top: 30px;">We are London and east end based office relocation company that operates UK wide as well as all EU member countries. 
                    With our hardworking and experienced teams crossing the streets of London on more than a hundred moves a day, 
                    we are proud to be one of the leading experts in office relocations
                    and international removals in the area.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 services-bg" id="services" style="min-height: 268px; box-shadow: 1px -1px 1px #000000 inset">
        <div class="container" style="padding: 20px;">
            <div class="text-center text-white col-md-8 col-lg-offset-2">
                <h2 class="text-uppercase">Services 
                </h2>
                <div class="col-md-6 service-box">
                    <i class="gi-4x fa fa-truck" aria-hidden="true"></i>
                    <h5>Office Furniture Installation</h5>
                    <div class="clearfix"></div>
                    <p>Including driver and van during weekdays. Assistance form driver is subject to additional charge, for more information please contact our service department</p>
                </div>
                <div class="col-md-6 service-box"> 
                    <i class="fa fa-thumbs-up gi-4x" aria-hidden="true"></i>
                    <h5>Commerecial Relocation</h5>
                    <div class="clearfix"></div>
                    <p>Including driver and van with additional one extra removal person</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 service-box"> 
                    <i class="fa fa-briefcase gi-4x" aria-hidden="true"></i>
                    <h5>From £48.99/h</h5>
                    <div class="clearfix"></div>
                    <p>Including driver and van and additional extra hands</p>
                </div>
                <div class="col-md-6 service-box">
                    <i class="fa fa-credit-card-alt card-tax gi-4x" aria-hidden="true"></i>
                    <h5>Customisable solutions</h5>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 quote-bg" id="quotes" style="min-height: 268px; padding: 20px;  box-shadow: 1px -1px 1px #000000 inset">
        <div class="container" style="padding: 20px">
            <div class="col-md-8 col-lg-offset-2">
                <h2 class="text-center">QUOTATION 
                </h2>
                <p>We can offer free no obligation quote for you and your belongings and day of the week at any time of the day. All you need to do is fill the request form and we will contact you back within 24 hours with the most competitive quote. </p>
                <h5>Things we consider when generating the lowest price out there. </h5>
                <ul class="list-group">
                    <li>Distance</li>
                    <li>Accessibility This is one of the big things you should keep in mind. Anything obstructing your premise is subject to a charge as it can increase the cost and cause <span> unplanned delays. Any subsequential spending made by DVM Removals such as parking fees, confection charges, ferry charges etc will be included in the final invoice.</span></li>
                    <li>Size of items. Any furniture to be disassembled/dismantled can be a subject to additional charge.</li>
                    <li>Packing/unpacking. Some items might require secure pack, for example books, clothes etc</li>
                    <li>Stairs. Additional charge of £1.5 per step applies.</li>
                </ul>
                <br>
                <p>All of our quotations will be valid for two months counted from the time of sending.</p>
                <p>
                    <a href="/quick-quote" class="btn btn-lg btn-success navbar-right"> 
                        Get a quick quote 
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>  
