<div class="container">
    <div class="col-lg-12 services-bg">
        <div class="container" style="padding: 20px;">
            <h2 class="col-lg-8 col-lg-offset-2 text-white">Fill the form and we will contact you back with your quote.</h2>
        </div>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

        <div class="container" style="padding: 20px;">
            <div class="col-lg-8 col-lg-offset-2">
                <form id="form-horizontal" method="POST" action="/quick-quote">
                    <div class="form-group">
                        <input 
                            type="text" class="form-control"
                            minlength="8" maxlength="60"                            
                            required="true"
                            id="nameInput" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input 
                            type="email" class="form-control" 
                            minlength="3" maxlength="254"                            
                            id="emailInput" name="email" 
                            required="true"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input 
                            type="tel" class="form-control" 
                            minlength="7" maxlength="15"                            
                            id="phoneInput" name="phone" 
                            required="true"
                            placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input 
                            type="date" class="form-control"
                            id="inputDate" name="date" 
                            aria-describedby="dateInfo">
                        <small id="dateInfo" class="text-white">*Extra charges will be applied for applied for express requests.</small>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="inputFrom" name="from">
                            <option value="" disabled selected hidden>From...</option>
                            <option value="center">London</option>
                            <option value="north">Elsewhere</option>
                            <option value="south"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="inputTo" name="to">
                            <option value="" disabled selected hidden>To...</option>
                            <option value="center">London</option>
                            <option value="north">Nationwide</option>
                            <option value="south">EU</option>
                            <option value="east">Elsewhere</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select 
                            class="selectpicker form-control" 
                            required="true"
                            name="items[]" 
                            multiple="multiple" 
                            data-live-search="true"
                            aria-describedby="itemsInfo">
                            {{#each items}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <small id="itemsInfo" class="text-white">*Select "Other" if you can not find the desired item.</small>
                    </div>
                 
                    <div class="form-group">
                        <textarea 
                            class="form-control" 
                            id="inputMessage" 
                            name="message" 
                            required="true"
                            maxlength="600"                            
                            rows="3" 
                            placeholder="If you havent found an object you want moved in the list above, describe it here, as well as any other directions you might want to give us for creating your free quote for removal."></textarea>
                    </div>
                    <a href="/" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-primary blue-btn">Request quote</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
